{%extends 'base.html'%}

{%block content%}
<div class="row pt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 pt-3">
        <div class="center">
            <form method="post" class="card p-2">
                {% csrf_token %}
                <h2 class="text-center pt-2" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Reset Password</h2>
                {% for field in form %}
                        {{ field.label_tag }} 
                        {{ field }}
                        {% if field.errors %}
                            <small>{{ field.errors|striptags  }}</small> 
                        {% endif %}
                {% endfor %}
                
                <div class="form-buttons pt-3 ps-1 mb-2">
                    <input type="submit" value="Send" class="btn btn-success">
                    <a href="/signup/"  class="btn btn-outline">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{%endblock content%}