{% extends 'base.html' %}
{% load static %}
{% block title %}Fav{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 text-center pt-5">
       <h3 id="proh2"> FAV </h3>
       <img src="{% static 'images/under.webp' %}" />
    </div>
</div>
<div class="row pt-5">
    <div class="col-md-12" id="propadd">
        <div class="row pt-5">
            {% for pr in favs  %}
            <div class="col-md-3">
                <div class="border border-2 mb-5 text-center" id="borderpro">
                    <a href="/productdetails/{{ pr.Productid.id }}" class="text-decoration-none text-dark">
                        <img src="/media/{{ pr.Productid.Photo }}"  height="240" width="100%"  />
                        <h2 id="prohead">{{ pr.Productid.Product_Name }}</h2>
                        <h4 class="fs-5" id="clrpro"> (&#8377;{{ pr.Productid.Selling_Price }}) <span id="pro"> &#8377;{{ pr.Productid.MRP }} </span> </h4>
                        <p>{{ pr.Productid.Description|slice:"0:0" }}</p>
                    </a>

                    <form action="{% url 'cart:cart_add' pr.Productid.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" id="probtn" value="add to cart" class="btn btn-primary">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 
</div>

{% endblock%}