{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 pt-4 pb-5 ps-5">
        <h2 class=" text-center" id="frufont">Fruits And Vegetables</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <img src="{% static 'images/frupage.jpg' %}"  min-width="100%"  />
    </div>
</div>


<div class="ps-5 pt-5 pe-5" id="pfont">
    <div class="row">
        <div class="col-md-12">
            <p>A diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar, which can help keep appetite in check. Eating non-starchy vegetables and fruits like apples, pears, and green leafy vegetables may even promote weight loss. Their low glycemic loads prevent blood sugar spikes that can increase hunger.</p>
            <p>
            At least nine different families of fruits and vegetables exist, each with potentially hundreds of different plant compounds that are beneficial to health. Eat a variety of types and colors of produce in order to give your body the mix of nutrients it needs. This not only ensures a greater diversity of beneficial plant chemicals but also creates eye-appealing meals.    
            </p>
            <h4 class="pt-3 pb-3">Tips to eat more vegetables and fruits each day</h4>
            <p>
                <span class="fw-bold"> 1. Keep fruit where you can see it.</span> 
                Place several ready-to-eat washed whole fruits in a bowl or store chopped colorful fruits in a glass bowl in the refrigerator to tempt a sweet tooth.
            </p>
            <p>
                <span class="fw-bold">2. Explore the produce aisle and choose something new.</span> Variety and color are key to a healthy diet. On most days, try to get at least one serving from each of the following categories: dark green leafy vegetables; yellow or orange fruits and vegetables; red fruits and vegetables; legumes (beans) and peas; and citrus fruits.
            </p>
            <p>
                <span class="fw-bold">3.  Skip the potatoes.</span>Choose other vegetables that are packed with different nutrients and more slowly digested carbohydrates.
            </p>
            <p>
                <span class="fw-bold">4. Make it a meal.</span>Try cooking new recipes that include more vegetables. Salads, soups, and stir-fries are just a few ideas for increasing the number of tasty vegetables in your meals.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="pt-3 pb-3">Benefits of Fruits and Vegetables</h4>
            <p class="p-2">
                <span class="fw-bold h5">1. Fight Inflammation:</span>
                Sometimes inflammation is good, but too much chronic inflammation isn't great for our bodies. Veggies are one of the best foods to eat to help you fend off inflammation. They are rich in antioxidants and phytochemicals to help your body.<br/>
            </p>
            <p class="p-2">    
                <span class="fw-bold h5">2. Improve Blood Pressure:</span>
                Nearly half of Americans have high blood pressure, according to the CDC. When it comes to your diet and blood pressure, eating too much salt isn't great. But, eating more potassium-rich foods can help reduce the damage of a high-sodium diet. Vegetables, like beets and spinach, deliver potassium (amongst other nutrients) and the fiber from vegetables also helps your heart.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">3. Up Your Fiber:</span>
                Most of us don't hit our recommended fiber intake (that's 38g/day for men and 25g/day for women). Eating high-fiber foods like whole grains, fruits, legumes, nuts and yes, vegetables can help you get enough of this key nutrient. Fiber is great for your heart and gut, but also can keep you full and reduce your risk of developing diabetes. All vegetables have fiber, so choose a variety to get your fill. Artichokes, sweet potatoes and peas all make our list of foods with more fiber than an apple.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">4. Help Your Eyes:</span>
                Eye health may be top of mind if you stare at a computer and phone all day, which can strain your eyes, according to the American Optometric Association. If you want to protect your eyes, eat more vegetables (you'll also want to take some screen breaks and see your eye doctor). Lutein and zeaxanthin are two carotenoids that help reduce the risk of age-related macular degeneration (AMD). You'll find them and other eye-protecting carotenoids in basil, corn, red peppers, spinach and broccoli.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">5. Improve Your Skin:</span>
                You can help take care of your skin by staying hydrated and getting quality sleep, but what you eat can help too. Tomatoes deliver lycopene, which can actually help protect your skin from sunburn (sunscreen is important too). Kale and avocados can help keep your skin more elastic. Many vegetables, like cucumbers and celery, also have a high water content to help you meet your hydration goals for glowing skin.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">6. Reduce Risk of Heart Disease:</span>
                Heart disease is the leading killer of men and women in America and diet plays a big role in helping keep your heart healthy. Vegetables give you potassium and fiber, two nutrients that are good for your heart. Adding lots of veggies to your diet can also help you keep your weight in a healthy range, which takes some pressure off your heart. Leafy greens, avocados and tomatoes make our list of top heart-healthy foods, but all veggies have benefits for your heart.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">7. Benefit For Blood Sugar:</span>
                Whether you have diabetes or not, vegetables are low in calories and high in fiber and nutrients, so they can help fill you up and can minimize blood sugar spikes during meals. Adding some arugula to your pasta helps bulk up your plate and keep you satisfied. Try adding peppers to tacos or cauliflower to stir-fries. Some vegetables are higher in starches and carbs—think potatoes, corn, squash, peas—but they can still be included in your diet. (Here are 10 of the best vegetables to eat when you have diabetes.)<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">8. Reduce Risk of Cancer:</span>
                No diet choice is guaranteed to keep you cancer free, but vegetables are full of cancer-fighting nutrients and antioxidants that may reduce your risk of certain types of cancers. Cruciferous vegetables, like Brussels sprouts and cauliflower, have been studied for their cancer-fighting power. They deliver potassium, folate, vitamin C and phytochemicals, as well as sulforaphane (highest in broccoli) which may protect your cells from carcinogens. Variety is key here, as all veggies have different nutrients and protective effects.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">9. Keep Your Brain Young:</span>
                If you want to keep your brain sharp, including vegetables in your diet is the way to go. Vegetables, especially leafy greens, are part of the MIND Diet, which was designed by researchers to help reduce your risk of Alzhemier's disease and dementia. The antioxidants and folate they deliver are key nutrients for your brain.<br/>
            </p>
            <p class="p-2">
                <span class="fw-bold h5">10. Improve Your Immune Health:</span>
                It's no secret that what you eat impacts your immune system. Vitamin C is a key nutrient that's found in lots of vegetables (people are always surprised to learn that broccoli and bell peppers have more vitamin C than an orange) that helps keep your immune system strong. Eating a well-balanced diet with a variety of foods is also important for your immune system, so include lots of different veggies as well as fruits, whole grains, healthy fats and protein sources.<br/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="pt-3 pb-3">Vegetables, fruits, and disease</h4>
            <h5 class="p-1">Cardiovascular disease</h5>
            <p class="p-2">
                There is compelling evidence that a diet rich in fruits and vegetables can lower the risk of heart disease and stroke.<br/>
                <span class="fw-bold">1.</span>  A meta-analysis of cohort studies following 469,551 participants found that a higher intake of fruits and vegetables is associated with a reduced risk of death from cardiovascular disease, with an average reduction in risk of 4% for each additional serving per day of fruit and vegetables.<br/>
                <span class="fw-bold">2.</span>  The largest and longest study to date, done as part of the Harvard-based Nurses’ Health Study and Health Professionals Follow-up Study, included almost 110,000 men and women whose health and dietary habits were followed for 14 years.<br/>
                <span class="fw-bold">3.</span>  The higher the average daily intake of fruits and vegetables, the lower the chances of developing cardiovascular disease. Compared with those in the lowest category of fruit and vegetable intake (less than 1.5 servings a day), those who averaged 8 or more servings a day were 30% less likely to have had a heart attack or stroke.<br/>
                <span class="fw-bold">4.</span>  Although all fruits and vegetables likely contributed to this benefit, green leafy vegetables, such as lettuce, spinach, Swiss chard, and mustard greens, were most strongly associated with decreased risk of cardiovascular disease. Cruciferous vegetables such as broccoli, cauliflower, cabbage, Brussels sprouts, bok choy, and kale; and citrus fruits such as oranges, lemons, limes, and grapefruit (and their juices) also made important contributions.<br/>
                <span class="fw-bold">5.</span>  When researchers combined findings from the Harvard studies with several other long-term studies in the U.S. and Europe, and looked at coronary heart disease and stroke separately, they found a similar protective effect: Individuals who ate more than 5 servings of fruits and vegetables per day had roughly a 20% lower risk of coronary heart disease and stroke, compared with individuals who ate less than 3 servings per day.<br/>
            </p>

            <h5 class="p-1">Blood pressure</h5>
            <p class="p-2">
                <span class="fw-bold">1.</span>  The Dietary Approaches to Stop Hypertension (DASH) study examined the effect on blood pressure of a diet that was rich in fruits, vegetables, and low-fat dairy products and that restricted the amount of saturated and total fat. The researchers found that people with high blood pressure who followed this diet reduced their systolic blood pressure (the upper number of a blood pressure reading) by about 11 mm Hg and their diastolic blood pressure (the lower number) by almost 6 mm Hg—as much as medications can achieve.<br/>
                <span class="fw-bold">2.</span>  A randomized trial known as the Optimal Macronutrient Intake Trial for Heart Health (OmniHeart) showed that this fruit and vegetable-rich diet lowered blood pressure even more when some of the carbohydrate was replaced with healthy unsaturated fat or protein.<br/>
                <span class="fw-bold">3.</span>  In 2014 a meta-analysis of clinical trials and observational studies found that consumption of a vegetarian diet was associated with lower blood pressure. <br/>
            </p>

            <h5 class="p-1">Cancer</h5>
            <p class="p-2">
                <span class="fw-bold">1.</span>  Numerous early studies revealed what appeared to be a strong link between eating fruits and vegetables and protection against cancer. Unlike case-control studies, cohort studies, which follow large groups of initially healthy individuals for years, generally provide more reliable information than case-control studies because they don’t rely on information from the past. And, in general, data from cohort studies have not consistently shown that a diet rich in fruits and vegetables prevents cancer.<br/>
                <span class="fw-bold">2.</span>  A line of research stemming from a finding from the Health Professionals Follow-up Study suggests that tomatoes may help protect men against prostate cancer, especially aggressive forms of it. One of the pigments that give tomatoes their red hue—lycopene—could be involved in this protective effect. Although several studies other than the Health Professionals Study have also demonstrated a link between tomatoes or lycopene and prostate cancer, others have not or have found only a weak connection. <br/>
                <span class="fw-bold">3.</span>  Taken as a whole, however, these studies suggest that increased consumption of tomato-based products (especially cooked tomato products) and other lycopene-containing foods may reduce the occurrence of prostate cancer. Lycopene is one of several carotenoids (compounds that the body can turn into vitamin A) found in brightly colored fruits and vegetables, and research suggests that foods containing carotenoids may protect against lung, mouth, and throat cancer. But more research is needed to understand the exact relationship between fruits and vegetables, carotenoids, and cancer.<br/>
            </p>
        </div>
    </div>
</div>

{% endblock %}