{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}


<div class="row pt-3">
    <div class="col-md-12 pt-4 pb-5 ps-5">
        <h2 class=" text-center" id="frufont">Grians and Flours</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-12 text-center">
        <img src="{% static 'images/grnu.webp' %}"  width="60%" height="300px"  />
    </div>
</div>


<div class="ps-5 pe-5" id="pfont">
    <div class="row">
        <div class="col-md-12">
            <p>
                Whole-grain foods are good choices for a nutritious diet. Whole grains provide fiber, vitamins, minerals and other nutrients.<br/>Whole-grain foods help control of cholesterol levels, weight and blood pressure. These foods also help lower the risk of diabetes, heart disease and other conditions.
            </p>
            <h4>1. High in nutrients and fiber:-</h4>
            <p>
                Whole grains deliver many important nutrients. These include:<br/>
                Fiber. The bran provides most of the fiber in whole grains.
                Vitamins. Whole grains are particularly high in B vitamins, including
                niacin, thiamine, and folate.
                Minerals. They also contain a good amount of minerals, such as zinc,
                iron, magnesium, and manganese.
                Protein. Whole grains boast
                several grams of protein per serving.
                Antioxidants. Many
                compounds in whole grains act as antioxidants. These include phytic acid,
                lignans, ferulic acid, and sulfur compounds.
                Plant
                compounds. Whole grains deliver many types of plant compounds that play a
                role in preventing disease. These include polyphenols, stanols, and sterols.
                The exact amounts of these nutrients depend on the type of grain.
            </p>
            <h4>2. Lower your risk of heart disease:-</h4>    
            <p> 
                One of the biggest health benefits of whole grains is that they lower your risk of heart disease, which is the leading cause of death worldwide.

                A review of 10 studies found that three 1-ounce servings of whole grains daily may lower your risk of heart disease by 22%.

                Similarly, a 10-year study in 17,424 adults observed that those who ate the highest proportion of whole grains in relation to their total carb intake had a 47% lower risk of heart disease.
            </p>
            <h4>3. Lower your risk of stroke:-</h4>   
            <p> 
                Whole grains may also help lower your risk of stroke.

                In an analysis of 6 studies in nearly 250,000 people, those eating the most whole grains had a 14% lower risk of stroke than those eating the fewest.

                Furthermore, certain compounds in whole grains, such as fiber, vitamin K, and antioxidants, can reduce your risk of stroke.

                Whole grains are also recommended in the DASH and Mediterranean diets, both of which may help lower your risk of stroke.
            </p>
            <h4>4. Reduce your risk of obesity:-</h4>    
            <p>
                Eating fiber-rich foods can help fill you up and prevent overeating. This is one reason high-fiber diets are recommended for weight loss.

                Whole grains and products made from them are more filling than refined grains, and research suggests that they may lower your risk of obesity.

                In fact, eating 3 servings of whole grains daily was linked to lower body mass index (BMI) and less belly fat in a review of 15 studies in almost 120,000 people.

                Another study reviewing research from 1965 to 2010 found that whole-grain cereal and cereal with added bran were associated with a modestly lower risk of obesity.
            </p>   
            <h4>5. Lower your risk of type 2 diabetes:-</h4>              
            <p>
                  
                Eating whole in place of refined grains may lower your risk of type 2 diabetes.

                A review of 16 studies concluded that replacing refined grains with whole varieties and eating at least 2 servings of whole grains daily could lower your risk of diabetes.

                In part, this is because fiber-rich whole grains can also help with weight control and prevent obesity, a risk factor for diabetes.

                Moreover, studies have linked whole grain intake to lower fasting blood sugar levels and improved insulin sensitivity.

                This could be due to magnesium, a mineral found in whole grains that helps your body metabolize carbs and is tied to insulin sensitivity.
            </p>                            
        </div>
    </div>
</div>
 
{% endblock %}