{% extends 'base1.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="pt-2 mb-4">
    <div class="col-md-12 bg-white" id="password">
        <h4 id="borderh">Change Password</h4>
        <br/>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" onclick="sub()">Save Changes</button>
        </form>
    </div>
</div>    
    
<script>
    function sub(){
        alert("Password Changed Successfully");
    }
</script>

{% endblock %}