{% extends 'base1.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Invoice Generate{% endblock %}
{% block content %}

<div class=" mb-4" id="inv">
    <div class="row">
        <div class="col-md-12 text-end pb-3 fa-xl">
            <i class="fa-solid fa-print" onclick="window.print()"></i>
        </div>    
    </div>
    <div class="col-md-12 bg-white" id="invgene">

        <div class="row mb-2" id="firstbg">
            <div class="col-md-4 pt-4">
                <img src="{% static 'images/lo7.png' %}"  />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h2 class="display-1 ps-5 clrhead">INVOICE</h2>
            </div>
        </div>
         
        <div class="row mb-3" id="secondbg">
            <div class="col-md-6 ps-3">
                <h6><span class="fw-bold">City:</span> Bathinda</h6>
                <h6><span class="fw-bold">Phone:</span> +535 421 895 6523</h6>
                <h6><span class="fw-bold">Email:</span> Growcerystore07@gmail.com</h6>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 ps-5">
                <h6><span class="fw-bold">Date:</span> {{order.created}} </h6>
                <h6><span class="fw-bold">Invoice:</span> <span id="demo"></span></h6>
                <h6><span class="fw-bold">For:</span> {{order.first_name}} </h6>
            </div>
        </div>

        <div class="row" id="thridbg">
            <div class="col-md-12">
                <h5><span class="fw-bold">Bill To:</span> {{order.first_name}}</h5>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12 pt-2">
                <table>
                    <tr><td><span class="fw-bold"><i class="fa-solid fa-user"></i></span> {{order.first_name}} {{or.last_name}}</td></tr>
                    <tr><td><span class="fw-bold"><i class="fa-solid fa-location-dot"></i></span> {{order.address}}</td></tr>
                    <tr><td><span class="fw-bold"><i class="fa-solid fa-envelope"></i></span> {{order.email}}</td></tr>
                </table>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <table class="table">
                    <thead class="text-center">
                        <tr class="fw-bold fa-lg">
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for o in orderitems %}
                        <tr>
                            <td>{{o.product}}</td>
                            <td>{{o.quantity}}</td>
                            <td>&#8377;{{o.price}}</td>
                            <td>&#8377;{% multiply o.quantity o.price %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-center pt-4">
                <h4>Thank You for shoping!!</h4>
            </div>
            <div class="col-md-6" id="fourthbg">
                <table class="table pt-5 table-striped table-light" style="width: 60%; ">
                    <tr>
                        <th>Total:</th>
                        <td>&#8377;{{ order.get_total_cost }}</td>
                    </tr>
                </table>
                <!-- <h6><span class="fw-bold">Sub Total:</span>  &#8377;{{ order.get_total_cost }}</h6>
                
                <h6><span class="fw-bold">Tax:</span> 10%</h6>
                <h6><span class="fw-bold">Discount:</span> 5%</h6>
                <h6><span class="fw-bold">Total:</span> &#8377;</h6> -->
            </div>
        </div>

        <div class="row text-center pt-5">
            <div class="col-md-12">
                <h6>If you have any question about this Invoice, Please contact</h6>
                <h6>(Growcery Store, 9378291018, Growcerystore07@gmail.com)</h6>
            </div>
        </div>

    </div>
</div>        

<script>
    let x = Math.floor((Math.random() * 206950) + 474903);
    document.getElementById("demo").innerHTML = x;
</script>

{% endblock %}